<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>TestApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= stylesheet_link_tag    "bootstrap.css", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap.min.css", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap-theme.css", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap-theme.min.css", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "defaults",media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap.js",media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap.min.js",media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>
</br>
<div class="span12" style="text-align:center; margin: 0 auto;">
  <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
      <font size="5"><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> or
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></font>
  <% end %>
</div>
<%= yield %>

</body>
</html>
